Source: safe-iop
Section: devel
Priority: optional
Maintainer: Android tools Maintainer <android-tools-devel@lists.alioth.debian.org>
Uploaders: Reiner Herrmann <reiner@reiner-h.de>,
           Kai-Chung Yan <seamlikok@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://code.google.com/p/safe-iop
Vcs-Git: https://alioth.debian.org/anonscm/git/android-tools/safe-iop.git
Vcs-Browser: https://anonscm.debian.org/cgit/android-tools/safe-iop.git

Package: safe-iop
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Safe integer operation library for C
 This library provides a collection of (macro-based) functions for performing
 safe integer operations across platform and architecture with a straightforward
 API.
 .
 This package provides a header-only header and a dynamically linked library.
 The dynamic library supplies a format-string based interface which is in
 pre-alpha.